<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Simple Calculator</h1>
    <form method="POST">
        <label for="num1">First Number:</label>
        <input type="text" name="num1" id="num1" required>

        <label for="num2">Second Number:</label>
        <input type="text" name="num2" id="num2" required>

        <label for="operation">Choose Operation:</label>
        <select name="operation" id="operation">
            <option value="add">Add (+) </option>
            <option value="subtract">Subtract (-)</option>
            <option value="multiply">Multiply (*)</option>
            <option value="divide">Divide (/)</option>
        </select>

        <button type="submit">Calculate</button>
    </form>

    {% if result is not none %}
        <h2>Result: {{ result }}</h2>
    {% endif %}

    <h4>It is a simple web application that performs basic arithmetic operations such as addition, subtraction, multiplication, and division.</h4>

    <h4>It is developed using Python and Flask.</h4>
    <h3>Developed By : IRFAN ULLAH KHAN</h3>
    <h5>@2024</h5>

</body>
</html>
